@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/bundles/css/desktop")
    @Styles.Render("~/bundles/customcss")
    <title>@ViewBag.Title</title>
    @{Html.RenderPartial("_Gtag"); }
</head>
<body data-target="#navbarResponsive">
    @{
        Html.RenderPartial("_Navbar");
    }    
    @RenderBody()
</body>
</html>
@{
    Html.RenderPartial("_Footer");
}
@Scripts.Render("~/bundles/scripts/desktop")
@Scripts.Render("~/bundles/scriptscustom")
@Scripts.Render("~/bundles/analytics")
<script src="http://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>